<h1>RESSOURCES HUMAINES</h1><br><br>
<div class="row">
  <div class="in-container-Etat">
    <table class="table">
      <thead>
      <tr class="table-row cols-2">
        <th scope="col" class="th-etat">ETAT</th>
        <th scope="col" class="th-etat"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">0</th>
        <td (click)="isCollapsed = !isCollapsed">Contacts</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Sourcé(s)</td>
      </tr>
      <tr>
        <th scope="row">20</th>
        <td>Contacté(s)</td>
      </tr>
      <tr>
        <th scope="row">30</th>
        <td>Candidat(s) 1</td>
      </tr>
      <tr>
        <th scope="row">40</th>
        <td>Candidat(s) 2</td>
      </tr>
      <tr>
        <th scope="row">50</th>
        <td>Proposition(s)</td>
      </tr>
      <tr>
        <th scope="row">60</th>
        <td>Embauche(s)</td>
      </tr>
      <tr>
        <th scope="row">70</th>
        <td>A faire arriver</td>
      </tr>
      <tr>
        <th scope="row">80</th>
        <td>En arrivée</td>
      </tr>
      <tr>
        <th scope="row">90</th>
        <td>A l'effectif</td>
      </tr>
      <tr>
        <th scope="row">100</th>
        <td>En départ</td>
      </tr>
      <tr>
        <th scope="row">110</th>
        <td>Parti</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="in-container">
    <table class="table">
      <thead>
      <tr class="table-row row-cols-2">
        <th scope="col">USFORYOU</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">0</th>
      </tr>
      <tr>
        <th scope="row">10</th>
      </tr>
      <tr>
        <th scope="row">20</th>
      </tr>
      <tr>
        <th scope="row">30</th>
      </tr>
      <tr>
        <th scope="row">40</th>
      </tr>
      <tr>
        <th scope="row">50</th>
      </tr>
      <tr>
        <th scope="row">60</th>
      </tr>
      <tr>
        <th scope="row">70</th>
      </tr>
      <tr>
        <th scope="row">80</th>
      </tr>
      <tr>
        <th scope="row">90</th>
      </tr>
      <tr>
        <th scope="row">100</th>
      </tr>
      <tr>
        <th scope="row">110</th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="in-container-Lille">
    <table class="table">
      <thead>
      <tr class="table-row row-cols-2">
        <th scope="col">LILLE</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">0</th>
      </tr>
      <tr>
        <th scope="row">10</th>
      </tr>
      <tr>
        <th scope="row">20</th>
      </tr>
      <tr>
        <th scope="row">30</th>
      </tr>
      <tr>
        <th scope="row">40</th>
      </tr>
      <tr>
        <th scope="row">50</th>
      </tr>
      <tr>
        <th scope="row">60</th>
      </tr>
      <tr>
        <th scope="row">70</th>
      </tr>
      <tr>
        <th scope="row">80</th>
      </tr>
      <tr>
        <th scope="row">90</th>
      </tr>
      <tr>
        <th scope="row">100</th>
      </tr>
      <tr>
        <th scope="row">110</th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="in-container-LDE">
    <table class="table">
      <thead>
      <tr class="table-row row-cols-2">
        <th scope="col">LDE</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">0</th>
      </tr>
      <tr>
        <th scope="row">10</th>
      </tr>
      <tr>
        <th scope="row">20</th>
      </tr>
      <tr>
        <th scope="row">30</th>
      </tr>
      <tr>
        <th scope="row">40</th>
      </tr>
      <tr>
        <th scope="row">50</th>
      </tr>
      <tr>
        <th scope="row">60</th>
      </tr>
      <tr>
        <th scope="row">70</th>
      </tr>
      <tr>
        <th scope="row">80</th>
      </tr>
      <tr>
        <th scope="row">90</th>
      </tr>
      <tr>
        <th scope="row">100</th>
      </tr>
      <tr>
        <th scope="row">110</th>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="in-container-Avi">
    <table class="table">
      <thead>
      <tr class="table-row row-cols-2">
        <th scope="col">AVI</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">0</th>
      </tr>
      <tr>
        <th scope="row">10</th>
      </tr>
      <tr>
        <th scope="row">20</th>
      </tr>
      <tr>
        <th scope="row">30</th>
      </tr>
      <tr>
        <th scope="row">40</th>
      </tr>
      <tr>
        <th scope="row">50</th>
      </tr>
      <tr>
        <th scope="row">60</th>
      </tr>
      <tr>
        <th scope="row">70</th>
      </tr>
      <tr>
        <th scope="row">80</th>
      </tr>
      <tr>
        <th scope="row">90</th>
      </tr>
      <tr>
        <th scope="row">100</th>
      </tr>
      <tr>
        <th scope="row">110</th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="in-container-Nantes">
    <table class="table">
      <thead>
      <tr class="table-row row-cols-2">
        <th scope="col">NANTES</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">0</th>
      </tr>
      <tr>
        <th scope="row">10</th>
      </tr>
      <tr>
        <th scope="row">20</th>
      </tr>
      <tr>
        <th scope="row">30</th>
      </tr>
      <tr>
        <th scope="row">40</th>
      </tr>
      <tr>
        <th scope="row">50</th>
      </tr>
      <tr>
        <th scope="row">60</th>
      </tr>
      <tr>
        <th scope="row">70</th>
      </tr>
      <tr>
        <th scope="row">80</th>
      </tr>
      <tr>
        <th scope="row">90</th>
      </tr>
      <tr>
        <th scope="row">100</th>
      </tr>
      <tr>
        <th scope="row">110</th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="in-container-LDE-Nantes">
    <table class="table">
      <thead>
      <tr class="table-row row-cols-2">
        <th scope="col">LDE</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">0</th>
      </tr>
      <tr>
        <th scope="row">10</th>
      </tr>
      <tr>
        <th scope="row">20</th>
      </tr>
      <tr>
        <th scope="row">30</th>
      </tr>
      <tr>
        <th scope="row">40</th>
      </tr>
      <tr>
        <th scope="row">50</th>
      </tr>
      <tr>
        <th scope="row">60</th>
      </tr>
      <tr>
        <th scope="row">70</th>
      </tr>
      <tr>
        <th scope="row">80</th>
      </tr>
      <tr>
        <th scope="row">90</th>
      </tr>
      <tr>
        <th scope="row">100</th>
      </tr>
      <tr>
        <th scope="row">110</th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="in-container-Strasbourg">
    <table class="table">
      <thead>
      <tr class="table-row row-cols-2">
        <th scope="col">STRASBOURG</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">0</th>
      </tr>
      <tr>
        <th scope="row">10</th>
      </tr>
      <tr>
        <th scope="row">20</th>
      </tr>
      <tr>
        <th scope="row">30</th>
      </tr>
      <tr>
        <th scope="row">40</th>
      </tr>
      <tr>
        <th scope="row">50</th>
      </tr>
      <tr>
        <th scope="row">60</th>
      </tr>
      <tr>
        <th scope="row">70</th>
      </tr>
      <tr>
        <th scope="row">80</th>
      </tr>
      <tr>
        <th scope="row">90</th>
      </tr>
      <tr>
        <th scope="row">100</th>
      </tr>
      <tr>
        <th scope="row">110</th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="in-container-LDE-Strasbourg">
    <table class="table">
      <thead>
      <tr class="table-row row-cols-2">
        <th scope="col">LDE</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">0</th>
      </tr>
      <tr>
        <th scope="row">10</th>
      </tr>
      <tr>
        <th scope="row">20</th>
      </tr>
      <tr>
        <th scope="row">30</th>
      </tr>
      <tr>
        <th scope="row">40</th>
      </tr>
      <tr>
        <th scope="row">50</th>
      </tr>
      <tr>
        <th scope="row">60</th>
      </tr>
      <tr>
        <th scope="row">70</th>
      </tr>
      <tr>
        <th scope="row">80</th>
      </tr>
      <tr>
        <th scope="row">90</th>
      </tr>
      <tr>
        <th scope="row">100</th>
      </tr>
      <tr>
        <th scope="row">110</th>
      </tr>
      </tbody>
    </table>
  </div>
  <app-contact [ngbCollapse]="isCollapsed"></app-contact>
</div>

