


<div class="overlay-image" >
  <div class="row" id="box">
  <img class="col-lg-9" src="assets/images/USFORYOU_Data.png" alt="Alt text"/>
  </div>
  <div class="row" id="box2">
  <div class="text">
    <h5 class="card-title"><span class="oliveBack">BUSINESS INTELLIGENCE</span></h5>
    <p class="card-text">Base de données, Modélisation, Alimentation, Reporting, Portailbi, Administration</p>

    <h5 class="card-title"><span class="oliveBack">SMART ANALYTICS</span></h5>
    <p class="card-text">Datalake, Gouvernance, Dataquality, Sécurité, Storytelling, Agility</p>

    <h5 class="card-title"><span class="oliveBack">BIG DATA - DATA SCIENCE</span></h5>
    <p class="card-text">Bigdatabase, Gourvernance, Dataplateforme, Datascience, Restitution, Statistiques, Datamining</p>

    <h5 class="card-title"><span class="oliveBack">MASTER DATA QUALITY</span></h5>
    <p class="card-text">MDM, DAM/GED, PIM/CIM, Gouvernance, IAM/LDAP, GDPR</p>
  </div>
  </div>
</div>





