
  <div class="row">
    <div class="col-md-4">
      <div class="card-body">
        <h6 class="card-title text-right"><span class="oliveBack">Développeur ?</span></h6>
        <p class="card-text text-right">Recherche de <span class="oliveBack">l'excellence du code.</span><br>
          Nos collaborateurs sont, avant tout, des opérationnels du code. Le recrutement de nos collaborateurs évalue la
          performance et maîtrise technique : connaissances générales en IT, les <span class="oliveBack">compétences en architectures </span>,
          maîtrisede langages variés dans leur domaine
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="assets/images/USFORYOU_Client.png" class="card-img">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/USFORYOU_Offre.png" class="card-img">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <p class="card-text text-left">
          Un Système d'information "USFORYOU" fait pour <br><span class="oliveBack">libérer les initiatives</span> de nos
          collaborateurs dans l'entreprise. Le S.I d'usforyou est intégralement construit <span class="oliveBack">dans le CLOUD.</span><br>
          Aucune infrastructure privée, toute notre S.I et nos solutions sont interconnectées et permettent, le télétravail,
          le collaboratif.
        </p>
      </div>
    </div>
  </div>
