<div class="container text-justify">



 <img src="/assets/images/USFORYOU_mentions_legales.png" style="max-height:200px"><br><br>
  <h2>ARTICLE 1 – GÉNÉRALITÉS</h2>
  L’accès au site www.usforyou.net (« Site ») se fait sans aucune restriction, il est destiné à tous les publics.
  Ce site a pour objectif de faire une présentation institutionnelle du groupe USFORYOU®.​
<br>
<br>
  <h2>ARTICLE 2 - RESPONSABILITÉ​</h2>

  Les informations et recommandations (« Informations ») disponibles sur le Site vous sont proposées en toute bonne foi.​

  Toutefois, aucune garantie, expresse ou implicite, n’est donnée quant à la nature marchande des Informations fournies,

  ni quant à leur adéquation à une finalité ou un usage déterminé, ainsi qu’en ce qui concerne les produits auxquels il

  est fait référence dans ces Informations. Vous assumez pleinement les risques liés au crédit que vous leur accordez.

  Ces Informations vous sont fournies à la condition que vous ou toute autre personne qui les recevez puissiez déterminer

  leur intérêt pour un objectif précis avant de les utiliser.​

  En aucun cas, USFORYOU® ou ses filiales et entités affiliées ne seront responsables des dommages susceptibles de résulter

  du crédit accordé à ces Informations, de leur utilisation ou de l’utilisation d’un produit auquel elles font référence.​

  USFORYOU® ou ses filiales et entités affiliées rejettent catégoriquement toute interprétation qui viserait à assimiler

  le contenu de leurs sites web à des offres d’achat ou des incitations à acquérir des actions ou autres valeurs mobilières

  cotées ou non cotées d’USFORYOU®, de l’une ou l’autre de ses filiales directes ou indirectes ou de ses sociétés affiliées.​

  USFORYOU® s’efforce d’assurer au mieux de ses possibilités l’exactitude et la mise à jour des Informations diffusées

  sur le Site, dont elle se réserve le droit de corriger, à tout moment et sans préavis, le contenu. Toutefois, USFORYOU®

  ne peut garantir l’exactitude, la précision, la mise à jour ou l’exhaustivité des Informations mises à la disposition sur le Site.​

  L’utilisateur du Site reconnaît qu’il fait usage sous sa seule responsabilité des informations présentes sur le Site.

  En conséquence, USFORYOU® décline toute responsabilité :​

  <li>pour toute imprécision, erreur, inexactitude ou omission portant sur des Informations disponibles sur le Site</li>

  <li>pour tous dommages résultant d’une intrusion frauduleuse d’un tiers, ayant entraîné une modification des Informations

    ou éléments mis à la disposition sur le Site</li>

  <li>et plus généralement pour tous dommages, directs ou indirects, quelles qu’en soient les causes, origines, natures ou

  conséquences, quand bien même USFORYOU® aurait été avisée de la possibilité de tels dommages, provoqués à raison (i)

  de l’accès de quiconque au Site ou de l’impossibilité d’y accéder, (ii) de l’utilisation du Site, incluant toutes

  détériorations ou virus qui pourraient infecter l’équipement informatique de l’utilisateur ou tout autre bien,

    et/ou (iii) du crédit accordé à une quelconque Information provenant directement ou indirectement du Site.</li>
  <br>
  <br>
  <h2>ARTICLE 3 - PROPRIÉTÉ INTELLECTUELLE</h2>

  Ce Site appartient à USFORYOU®.​

  Les documents, contenus et tous les autres éléments, en ce compris les marques, logos et noms de domaine, composant ou apparaissant sur le Site sont protégés par les lois en vigueur sur la propriété intellectuelle, et appartiennent à USFORYOU®, ou ont fait l’objet d’une autorisation d’utilisation par USFORYOU®.​

  L’utilisateur n’acquiert qu’un droit d’usage des Informations et contenus disponibles (textes, logos, dessins, images, photos, vidéos…) sur le Site. Ce droit est limité à un usage personnel et privé dans le cadre du cercle de famille. L’utilisateur n’acquiert aucun droit de reproduction, sous quelque forme que ce soit si ce n’est celui d’une copie unique destinée à un usage strictement privé et non commercial et sous réserve du respect des droits de propriété intellectuelle et de tout autre droit de propriété dont il est fait mention.​

  Toute autre utilisation est soumise à l’accord préalable de la Direction de la communication d’USFORYOU® et devra se faire sans dénaturation, modification ou altération de quelque manière que ce soit.​

  Toute utilisation non autorisée constitue une contrefaçon. USFORYOU® se réserve le droit de poursuivre tout acte de contrefaçon de ses droits de propriété intellectuelle.​

  Il en est de même des bases de données figurant, le cas échéant, sur le site et pour lesquelles seules sont autorisées par USFORYOU® l’extraction ou la réutilisation des documents et pages du site conformément aux dispositions de l’article 342-3 du code la propriété intellectuelle (loi 98-536 du 1/07/1998) sous réserve que toutes les reproductions comportent les mentions relatives à la titularité des droits.​

  Signes distinctifs​

  Sauf mention contraire, les dénominations sociales, les logos, les produits, les marques et autres signes distinctifs cités dans ce Site (produits ® et TM) sont la propriété d’USFORYOU®. Ils ne peuvent être utilisés sans l’autorisation écrite préalable d’USFORYOU®.​
  <br>
  <br>
  <h2>ARTICLE 4 - LIENS HYPERTEXTES​</h2>

  USFORYOU® et ses filiales déclinent formellement toute responsabilité quant aux contenus des sites vers lesquels elles offrent des liens. Ces liens sont proposés aux utilisateurs du site web USFORYOU® ou des sites web de ses filiales et entités affiliées en tant que service. La décision d’activer les liens appartient exclusivement aux utilisateurs du web qui les utilisent sous leur seule et entière responsabilité. Par conséquent, USFORYOU® ou ses filiales ne sauraient être responsables de l’accès par les utilisateurs via les liens hypertextes mis en place dans le cadre du Site en direction d’autres ressources présentes sur le réseau.​
  <br>
  <br>
  <h2>ARTICLE 5 - CRÉATION DU SITE​</h2>

  Conception, design, conception technique et développement : HAVAS Paris pour la Direction de la communication du groupe USFORYOU®.​

  Société éditrice du site :​<br>

  USFORYOU® Technologies​<br>

  Siège Social​<br>
  USFORYOU – Euretechnologie​<br>

  165 avenue de bretagne​<br>
  59000 Lille​<br>
  SIRET : 88001124200018​<br>

  Capital social : 10 000 euros​<br>
  Immatriculation : 16/12/2019​<br>

  ​

  Directeur de la publication :​<br>
  Laurent Dervillers, USFORYOU®​<br>
  <br>
  <br>
</div>
