<div class="row" id="box">
  <img src="assets/images/USFORYOU_LogoTete.png" class="col-md-4">
  <div class="col-md-5">
    <div class="card-body">
      <h6 class="card-title text-left"><span class="oliveBack">Notre nom, notre Logo, une histoire !</span></h6>
      <p class="card-text text-left">Au travers de notre nom, "USFORYOU" : Vis-à-vis de nos clients ou de nos
        collaborateurs, ce nom évoque la notion de disponibilité et de réciprocité. Se mettre à votre service,
        etre là pour vous ! US --FOR--> YOU !<br><br><br>
        Au travers de notre logo, nous espérons retransmettre plusieurs de nos valeurs comme :
      </p>
      <ul>
        <li> L'humilité,la modestie, le respect</li>
        <li> L'ouverture d'esprit</li>
        <li> L'entraide, l'accueil</li>
        <li> La fraternité, la loyauté</li>
        <li> Le courage</li>
      </ul>
    </div>
  </div>
</div>

