
<div class="container-lg">
<!--<div class="d-flex flex-row-reverse">
  <img src="/assets/images/YellowLines.png" class="img-fluid" width="850" height="250" alt="Image">
</div>-->
    <div class="d-flex justify-content-between">
      <div class="align-content-start">
        <img src="/assets/images/USFORYOU_LogoTete.png" class="img-fluid" alt="Image" width="150" height="150" alt=""/>
      </div>
      <div class="d-flex align-items-end">
        <img src="/assets/images/USFORYOU_Recrutement.png" class="img-fluid" alt="Image" width="30" height="30" alt=""/>
        <a href="#nous-rejoindre/collaborateur" class="btn btn-link text-white">Collaborateurs</a>
        <img src="/assets/images/USFORYOU_CarriereMini.png" class="img-fluid" alt="Image" width="30" height="30" alt=""/>
        <a href="#nous-rejoindre/agence" class="btn btn-link text-white">Agence</a>
        <img src="/assets/images/USFORYOU_Forum.png" class="img-fluid" alt="Image" width="30" height="30" alt=""/>
        <a href="#nous-rejoindre/actionnaire" class="btn btn-link text-white">Actionnaires</a>
        <a class="btn btn-dark" href="https://www.facebook.com/usforyou.net/">
          <img src="/assets/images/logoFB.png" class="img-fluid" alt="Image" width="30" height="30" alt=""/>
        </a>
        <a class="btn btn-dark" href="https://twitter.com/">
          <img src="/assets/images/logoTwitter.png" class="img-fluid" alt="Image" width="30" height="30" alt=""/>
        </a>
        <a class="btn btn-dark" href="https://www.linkedin.com/company/usforyou/">
          <img src="/assets/images/logoLinkedIn.png" class="img-fluid" alt="Image" width="30" height="30" alt=""/>
        </a>
      </div>
      <div class="d-flex flex-row-reverse">
        <div class="text-right ">
          <h5 class="card-title">Contact</h5>
          <p class="card-text">
            Siège Euratechnologies<br/>
            165 Boulevard de bretagne<br/>
            59000 - Lille<br/>
            ✆ +33 (0)9.62.50.01.68<br/>
            ✉ contact@usforyou.net</p>

        </div>
      </div>
    </div>
</div>

