
  <div class="col">
    <div class="row">
      <div class="col-lg-8 ">
        <div class="card-body">
          <h1>L'EXCELLENCE DU CODE</h1>
          <p class="card-text">Nos collaborateurs sont des passionnés.</p>
          <p class="card-text">
            « Nous sommes une Entreprise du Service Numérique, dont l’ambition
            est de délivrer des Compétences et solutions High-Level. »
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-xs-1">
        <div class="card-body">
          <img src="assets/images/USFORYOU_LaurentDervillers.png" class="card-img">
          <h6>Laurent Dervillers</h6>
          <p>Président Fondateur</p>
        </div>
      </div>
      <div class="col-xs-3 col-lg-6 ">
        <div class="card-body">
          <h6><span class="oliveBack">Notre état d'esprit ?</span></h6>
          <p class="card-text">
            Nous recherchons et décryptons les Nouveautés & changements technologiques.
            Nous identifions les marchés émergents et préparons nos collaborateurs à l’excellence !
            L’excellence ne signifie pas être parfait, mais donner le meilleur de soi-même...
          </p>
          <p>Nous sommes...</p>
          <h4>" Développeur d'ambitions ! "</h4>
        </div>
      </div>
    </div>
  </div>




