<!--

<div class="row" id="box">
  <img src="assets/images/U4Y_ItRiskBG.png" class="col-lg-9" alt="...">
</div>

-->


<div class="overlay-image" >
  <div class="row" id="box">
    <img class="col-lg-9" src="assets/images/U4Y_ItRiskBG.png" alt="Alt text"/>
  </div>
  <div class="row" id="box2">
    <div class="text text-left">
      <h5 class="card-title"><span class="oliveBack">PROJECT MANAGEMENT</span></h5>
      <p class="card-text ">Amoa, Digital, Agilité, Product owner, Team leader, Cascade,  Intégration</p>

      <h5 class="card-title "><span class="oliveBack">TESTING</span></h5>
      <p class="card-text ">Automatisation, TDD, User story, Exigences, Campagne, Acptation, Performance, Sécurité</p>

      <h5 class="card-title "><span class="oliveBack">CYBER SECURITY</span></h5>
      <p class="card-text ">SSO, Gestion des identités, RGPD, Pentest, Gestion des risques, RSSI-DPO,
        Plan de continuité, Infrastructure</p>

    </div>
  </div>
</div>
