
<div class="container">
  <img src="assets/images/USFORYOU_Client.png" class="card-img"/>
</div>


<!--<div class="container-lg">
  <div class="card-group">
    <div class="input-group-prepend">
      <div class="col-md">
        <img src="assets/images/U4Y_persoNsRejoindre.png" class="img-fluid"/>
      </div>
      <div class="input-group-prepend col-md">
        <div class="card-body">
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
            <label class="custom-control-label" for="gridRadios1">
              <h4 class="card-title">CANDIDATURE SPONTANEE</h4>
            </label>
          </div><br>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="custom-control-label" for="gridRadios2">
              <h4 class="card-title">POSTES OUVERTS</h4>
            </label>
          </div><br>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
            <label class="custom-control-label" for="gridRadios3">
              <h4 class="card-title">DEMANDE DE STAGE</h4>
            </label>
          </div><br>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
            <label class="custom-control-label" for="gridRadios4">
              <h4 class="card-title">INDEPENDANT FREELANCE</h4>
            </label>
          </div><br>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
            <label class="custom-control-label" for="gridRadios5">
              <h4 class="card-title">POEI RECONVERSION</h4>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<app-form></app-form>
