<!--

<div class="row" id="box">
  <img src="assets/images/U4Y_DigitalBG.png" class="col-lg-9" alt="...">
</div>

-->


<div class="overlay-image" >
  <div class="row" id="box">
    <img class="col-lg-9" src="assets/images/U4Y_DigitalBG.png" alt="Alt text"/>
  </div>
  <div class="row" id="box2">
    <div class="text text-right">
      <h5 class="card-title text-right"> <span class="oliveBack">BUILD AND RUN APPLICATION</span></h5>
      <p class="card-text text-right">Maintenance, Kanban, ITIL, Base de données, Analyse, Knowledge</p>

      <h5 class="card-title text-right"><span class="oliveBack">ARCHITECTURE APPLICATIVE</span></h5>
      <p class="card-text text-right">Composant, Intégration, API, Microservices, Référentiel, ESB, Security, As service</p>

      <h5 class="card-title text-right"><span class="oliveBack">CUSTOMER EXPERIENCE</span></h5>
      <p class="card-text text-right">Co-design, Think, Socomo, UX/UI, Marketing, Sollicitation, Campagne,
        Intégration web, Phygital,  Innovation</p>

    </div>
  </div>
</div>
