
<div class="card-body">
  <div id="hexa">
    <h1>QUI SOMMES-NOUS ?</h1>
      <div class="card-text col-md-4">
        <p>Nous sommes une Entreprise du Service Numérique, dont l’ambition est de délivrer des Compétences et solutions High-Level</p>
        <p>Nous recherchons et décryptons les Nouveautés & changements technologiques. Nous identifions les marchés émergents et préparons nos collaborateurs à l’excellence ! L’excellence ne signifie pas être parfait, mais donner le meilleur de soi-même...</p>
      </div>
  </div>
</div>





<!--
  <div id="box">
      <img src="assets/images/U4Y_QuiSommesNous.png" class="img-fluid">
      <div class="row-cols-lg-5" id="child">
        <div class="card-body">
          <div class="card-text">
          <p>Nous sommes une Entreprise du Service Numérique, dont l’ambition est de délivrer des Compétences et solutions High-Level</p>
          <p>Nous recherchons et décryptons les Nouveautés & changements technologiques. Nous identifions les marchés émergents et préparons nos collaborateurs à l’excellence ! L’excellence ne signifie pas être parfait, mais donner le meilleur de soi-même...</p>
          </div>
        </div>
      </div>
&lt;!&ndash;      <img src="assets/images/U4Y_NsSommesDevAmbitions.png" class="img-fluid-3" alt=""/>&ndash;&gt;
    </div>-->



<!--<img src="assets/images/U4Y_NsSommesDevAmbitions.png" class="card-img" alt=""/>
<div class="card-img">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="assets/images/USFORYOU_Client.png" class="card-img" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Développeur ?</h5>
        <p class="card-text">
          Recherche de <span class="oliveBack">l'excellence du code.</span><br>
          Nos collaborateurs sont, avant tout, des opérationnels du code. Le recrutement de nos collaborateurs évalue la
          performance et maîtrise technique : connaissances générales en IT, les <span class="oliveBack">compétences en architectures </span>,
          maîtrisede langages variés dans leur domaine
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card-img">
  <div class="row no-gutters">

    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text text-right">
          Un Système d'information "USFORYOU" fait pour <br><span class="oliveBack">libérer les initiatives</span> de nos
          collaborateurs dans l'entreprise. Le S.I d'usforyou est intégralement construit <span class="oliveBack">dans le CLOUD.</span><br>
          Aucune infrastructure privée, toute notre S.I et nos solutions sont interconnectées et permettent, le télétravail,
          le collaboratif.
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-8">
      <img src="assets/images/USFORYOU_Offre.png" class="card-img" alt="...">
    </div>
  </div>
</div>

<div class="card-img">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="assets/images/USFORYOU_Developpeur.png" class="card-img" alt="..."/>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">L'esprit d'équipe et de réussites en commun !
          <span class="oliveBack">Les collaborateurs sont intéressés</span> au projet de l'entreprise.
          Ils animent leur communauté par domaine et veillent sur nos choix technologiques. Rien ne se réussit sans partage de connaissance</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>-->

